body {
    background-color: #58aaff;
    height: 100vh;
    margin: 0;
}
.container {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: #ffefef;
    padding: 30px;
    /* text-align: center; */
}
h1 {
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
input[type="text"] {
    font-size: 26px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

button {
    border-radius: 50px;
    border: none;
    background-color: #58aaff;
    height: 60px;
    width: 60px;
    text-align: center;
}